## Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Source data

In [2]:
df=pd.read_csv("Sales Data.csv")

In [3]:
df.head()

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour
0,0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0
1,1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7
2,2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City,18
3,3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15
4,4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12

unnamed  column is not necessary
drop that column

In [4]:
df.drop(columns="Unnamed: 0",inplace=True)

In [5]:
df.loc[0]

Order ID                                            295665
Product                                 Macbook Pro Laptop
Quantity Ordered                                         1
Price Each                                          1700.0
Order Date                             2019-12-30 00:01:00
Purchase Address    136 Church St, New York City, NY 10001
Month                                                   12
Sales                                               1700.0
City                                         New York City
Hour                                                     0
Name: 0, dtype: object

### Shape of the data

In [6]:
df.shape

(185950, 10)

####  Dataset consists of 185686 rows and 10 columns

### Information about the data

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  int64
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  int64
 3   Price Each        185950 non-null  float64
 4   Order Date        185950 non-null  object
 5   Purchase Address  185950 non-null  object
 6   Month             185950 non-null  int64
 7   Sales             185950 non-null  float64
 8   City              185950 non-null  object
 9   Hour              185950 non-null  int64
dtypes: float64(2), int64(4), object(4)
memory usage: 14.2+ MB

### Summary of data

In [8]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Order ID,185950.0,230417.569379,51512.737110,141234.00,185831.25,230367.50,275035.75,319670.0
Quantity Ordered,185950.0,1.124383,0.442793,1.00,1.00,1.00,1.00,9.0
Price Each,185950.0,184.399735,332.731330,2.99,11.95,14.95,150.00,1700.0
Month,185950.0,7.059140,3.502996,1.00,4.00,7.00,10.00,12.0
Sales,185950.0,185.490917,332.919771,2.99,11.95,14.95,150.00,3400.0
Hour,185950.0,14.413305,5.423416,0.00,11.00,15.00,19.00,23.0

### To check for missing values

In [9]:
df.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
Month               0
Sales               0
City                0
Hour                0
dtype: int64

###### Conclusion: No missing values

### To check for duplicates

In [10]:
df.duplicated().value_counts()

False    185686
True        264
dtype: int64

#### Remove the duplicates

In [11]:
df.drop_duplicates(inplace=True)

In [12]:
df.duplicated().value_counts()

False    185686
dtype: int64

## DATA CLEANING

In [13]:
df.sample(2)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour
129921,272214,Lightning Charging Cable,1,14.95,2019-10-13 20:53:00,"614 12th St, Los Angeles, CA 90001",10,14.95,Los Angeles,20
150127,251671,Bose SoundSport Headphones,1,99.99,2019-09-18 13:28:00,"249 Pine St, San Francisco, CA 94016",9,99.99,San Francisco,13

In [14]:
df["Order Date"].value_counts()

2019-12-15 20:16:00    8
2019-10-30 21:28:00    7
2019-04-02 13:24:00    7
2019-12-11 13:24:00    7
2019-02-06 11:14:00    6
                      ..
2019-08-31 17:07:00    1
2019-08-21 10:23:00    1
2019-08-04 13:02:00    1
2019-08-02 19:09:00    1
2019-06-25 14:33:00    1
Name: Order Date, Length: 142395, dtype: int64

* year is unique and distinct no need to extract year from the order date column 
* can extract the date and month

#### Convert the data type of order date from int 64 to date time

In [15]:
df["Order Date"]=pd.to_datetime(df["Order Date"])

In [16]:
df["date"]=df["Order Date"].dt.day

In [17]:
df["date"].sample(5)

72497    27
97251    30
14265     1
52014    22
4210     20
Name: date, dtype: int64

In [18]:
df["month"]=df["Order Date"].dt.month_name()

In [19]:
df["month"].sample(5)

109296     November
60190         March
92697           May
154559    September
123745      October
Name: month, dtype: object

In [20]:
df["Product"].value_counts()

USB-C Charging Cable          21859
Lightning Charging Cable      21610
AAA Batteries (4-pack)        20612
AA Batteries (4-pack)         20558
Wired Headphones              18849
Apple Airpods Headphones      15525
Bose SoundSport Headphones    13298
27in FHD Monitor               7498
iPhone                         6840
27in 4K Gaming Monitor         6225
34in Ultrawide Monitor         6174
Google Phone                   5522
Flatscreen TV                  4794
Macbook Pro Laptop             4721
ThinkPad Laptop                4126
20in Monitor                   4098
Vareebadd Phone                2065
LG Washing Machine              666
LG Dryer                        646
Name: Product, dtype: int64

In [21]:
df["City"].value_counts()

 San Francisco    44662
 Los Angeles      29564
 New York City    24847
 Boston           19901
 Atlanta          14863
 Dallas           14797
 Seattle          14713
 Portland         12449
 Austin            9890
Name: City, dtype: int64

### Creating quarter column based on month

In [22]:
def func_quar(var):
    if var in [1,2,3]:
        return "Qtr1"
    elif var in [4,5,6]:
        return "Qtr2"
    elif var in [7,8,9]:
        return "Qtr3"
    else:
        return "Qtr4"
df["Quarter"]=np.vectorize(func_quar)(df["Month"])

In [23]:
df.sample()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,date,month,Quarter
67631,173871,USB-C Charging Cable,1,11.95,2019-03-30 10:49:00,"797 Walnut St, Boston, MA 02215",3,11.95,Boston,10,30,March,Qtr1

### Creation of time range based on hour column

In [24]:
def func_time(hour):
    if hour in range(3,7):
        return "early morning"
    elif hour in range(7,12):
        return "morning"
    elif hour in range(12,16):
        return "afternoon"
    elif hour in range(16,20):
        return "evening"
    else:
        return "night"
df["time-range"]=np.vectorize(func_time)(df["Hour"])

In [25]:
df.sample()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,date,month,Quarter,time-range
61733,168212,AA Batteries (4-pack),1,3.84,2019-03-03 10:43:00,"175 10th St, Dallas, TX 75001",3,3.84,Dallas,10,3,March,Qtr1,morning

## Assignment:

#### Create a dash application that must show top 5 products (bar chart)
* dropdown : options like on what basis (month,quarter,time_range)
* Checkbox: City names

#### Importing the necessary Libraries

In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from dash import Dash,html,dcc
from dash.dependencies import Input,Output

In [41]:
app=Dash(__name__)
app.layout=html.Div(style={"backgroundColor":"white","color":"black","margin":"20px"},
                    children=[html.H2("Sales analysis using Plotly",
                                     style={"padding":"20px",
                                           "backgroundColor":"darkcyan","color":"white","text-align":"center",
                                           "border-radius":"5px"}),
                             html.Div(
                             [   html.H2(id="title",style={"color":"grey"}),
                                 html.H3("Select One",style={"color":"darkcyan"}),
                                 dcc.Dropdown(options=["time-range","month","Quarter"],
                                              value="month",
                                             style={"color":"darkcyan","width":"700px",
                                                    "border-color":"lightgrey"
                                                   },id="dd"),
                                 dcc.RadioItems(options=["ascending","descending"],inline=True,id="ri",
                                               inputStyle={"margin":"10px"}),
                                 dcc.Checklist(options={city:city for city in df["City"]},
                                              style={"backgroundColor":"white","margin-top":"10px",
                                                     "line-height":"5px","color":"darkcyan",
                                                    "border-style":"solid","border-color":"lightgrey",
                                                     "width":"200px","float":"left",
                                                    "border-radius":"5px"},
                                              inputStyle={'margin-bottom': '25px'},id="ch"),
                               
                             ]),
                            dcc.Graph(id="fig",
                                      style={"float":"right"})
                             ])
@app.callback(
    Output("title", "children"),
    Input("dd", "value")
)
def func_title(var):
    return f"Top 5 products based on {var}"

@app.callback(
    Output("fig", "figure"),
    Input("dd", "value"),
    Input("ri", "value"),
    Input("ch", "value")
)
def func_plot(var1, var2, var3):
    if not isinstance(var3, list):
        cities = [var3]
    else:
        cities = var3
    filtered_df = df[df["City"].isin(cities)]
    fil_df = filtered_df.groupby([var1, "Product"], as_index=False).sum().head(5)
    if var2 == "ascending":
        var2 = True
    else:
        var2 = False
    arr_df = fil_df.sort_values(by="Sales", ascending=var2)
    fig = px.bar(arr_df, x="Product", y="Sales")
    fig.update_layout(paper_bgcolor="white",plot_bgcolor="darkcyan")
    fig.update_xaxes(showgrid=False,title_font={"color":"darkcyan"},tickangle=90)
    fig.update_yaxes(showgrid=False,title_font={"color":"darkcyan"})
    fig.update_traces(marker={"color":"lightgray"},
                     )
    return fig

if __name__ == "__main__":
    app.run_server(mode="inline")